.candidates-list {
  width: 100%;
}

.candidates-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.candidates-cell {
  padding: 10px;
  border: 1px solid #000;
  text-align: left;
}

.candidates-table thead {
  background-color: #f5f5f5;
  font-weight: bold;
}

.candidates-table tbody tr:hover {
  background-color: #f9f9f9;
}
